<script type="text/javascript">
  window.staticImages = {
    moneyOrangeIcon: "<%= asset_path('money-orange-icon.png') %>",
    authUserIcon: "<%= asset_path('auth-user-icon.png') %>",
    authKeyIcon: "<%= asset_path('auth-key-icon.png') %>",
    authCameraIcon: "<%= asset_path('auth-camera-icon.png') %>",
    searchIcon: "<%= asset_path('search-icon.png') %>",
    deleteIcon: "<%= asset_path('delete-icon.png') %>",
    plusIcon: "<%= asset_path('plus-icon.png') %>",
    blankWhite: "<%= asset_path('blank-white.png') %>",
  }

  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<div id="root"></div>
