<!DOCTYPE html>
<html>
  <head>
    <title>Ticker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" href="<%= asset_path('ticker-logo.ico') %>" type="image/x-icon">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
